body {
    margin: 0;
    text-align: center;
}

main {
    background-color: #6943FF;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

main h1 {
font-size: 28px;
font-weight: extra-bold;
margin: 30px;
}

section {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section h2 {
    color: #5A537B;
    font-weight: semi-bold;
    font-size: 20px;
}

section div {
    background-color: #ffffff;
    width: 500px;
    margin: 10px;
}

input {
    background-color: #6943FF;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: #ffffff;
    font-size: 58px;
    font-weight: extra-bold;
    text-align: center;
}

input::placeholder {
    color: #ffffff;
}

button {
    background-color: #ffffff;
    color: #3D3D3D;
    width: 117px;
    height: 42px;
    margin: 27px;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

button:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

button:active {
    background-color: #C0C0C0;
}